<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <section class="error">
      <h3>404: Page Not Found</h3>
      <img src="/images/gitchatapp.png">
      <a href="/">Back To Home Page</a>
    </section>
  </body>
</html>
