<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <div class="chatroom">
      <h1>Welcome to GitChatApp</h1>
      <img class="icon" src="/images/icon.png">
      <div class="messagebox">
        <ul class="messages"></ul>
      </div>
      <div class="userlist">
        <h2>Users</h2>
        <ul class="users"></ul>
      </div>
      <form action="">
        <input class="m" autocomplete="off" />
        <button>Send</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let username = JSON.parse('<%- username %>');
    </script>
    <script src="/js/chatroom.js"></script>
  </body>
</html>
