<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <section class="home">
      <img src="/images/gitchatapp.png">
      <a href="<%= url %>">Login With GitHub</a>
    </section>
  </body>
</html>
